
<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" style="margin-top: 3%;">
    <div class="content-section col-12 col-md-6 offset-md-3">
        <h1 class="title">Dotazník o duševnom zdraví</h1>
        <br>
        <div class="form-group">
            <div *ngFor="let question of questionnaire; let i = index">
                <h4>{{i + 1}}. {{question.question}}</h4>
                <div *ngFor="let answer of question.answers; let answerId = index">
                    <input class="form-check-input" type="radio" name={{i}} (click)="handleClick(i, answerId)" required>
                    <label class="form-check-label" >{{answer.answer}}</label>
                </div>
                <br>
            </div>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-outline-primary d-grid gap-2 col-6 mx-auto" type="submit"  data-bs-toggle="modal" data-bs-target="#resultModal">Odoslať</button>
        </div>
    </div>
</form>

<div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Výsledok testu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{this.result}}
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zatvoriť</button>
            </div>
        </div>
    </div>
</div>